// Showcase

#showcase-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#course-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#opinion-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#event-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#blog-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#team-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}

#partner-section {

  .swiper-button-prev {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-button-next {

    color: #fff;
    &:hover {
      color: $active;
      @include easeOut();
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      padding: 6px;
      background: $active;
      border: 2px solid $white;

      &:hover {
        padding: 8px;
        border: 3px solid $white;
        background: $active;
        @include easeOut(); 
    }
    }
  }
}
