// Heading Color
$heading: #ffffff;

// Text Color
$text: #a6a6a6;

// Gray Background
$bg-gray: #f2f4f5;

// Body Background
$bg-body: #222627;

// Darkmode Background
$bg-darkmode: #45434663; 

// Card Background 
$bg-card: #222627;  
// $bg-card: #524e53;  

// Button Background
$bg-button: #393c3d;
// Primary Color
$primary: #db4437;

// Secondary Color
$secondary: #26cedd;

// White Color
$white: #ffffff;

// Dark Color
$dark: #0f1112;


// Overlay
$overlay : rgba(0,0,0,0.6);

// Border Color
$border1: #ee1515;
$border2: #26cedd;

// Fill Color
$fill1: #26264B;
$fill2: #db4437;

// Hover Color
$hover: #db4437;

// Active Color
$active: #db4437;

// Footer Color
$footer: #191c1d;

// Overlay
$overlay : rgba(0,0,0,0.6);
$secondary-overlay : rgba( #44110c,0.3);  



$body-background : #fff; // body

$primary-color : #26cedd; // For Heading
$secondary-color : #b4c770; // For para, btn etc

$primary-btn-hover : #26cedd; 
$secondary-btn-hover : #b4c770;; 

