// Clear Fix
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}


// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return rgb(0, 0, 0);
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Transition

@mixin  easeOut {
  transition: all 0.5s ease-out;
}

// Image Hover 
@mixin primary-image-hover {
  &:hover {
    border: 3px solid $dark;
  }
}

@mixin secondary-image-hover {
  &:hover {
    border: 3px solid $border1;
  }
}


// Dark-overlay


@mixin light-overlay {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $overlay;
    box-shadow: inset 40px 40px 100px #000000, inset -40px -40px 100px #000000;
  }
}

@mixin heavy-overlay {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $overlay;
    box-shadow: inset 100px 80px 200px #000000, inset -100px -80px 200px #000000;
  }
}


// Media Query Mixins

@mixin mediaXs {
  @media (max-width: 575.98px){
    @content;
  }
}

@mixin mediaSm {
  @media (max-width: 767.98px){
    @content;
  }
}

@mixin mediaMd {
  @media (min-width: 768px) and (max-width: 991.98px){
    @content;
  }
}

@mixin mediaLg {
  @media (min-width: 992px) and (max-width: 1199.98px){
    @content;
  }
}

@mixin mediaXl {
  @media (min-width: 1200){
    @content;
  }
}